  html,body{
    margin: 0;
    padding: 0;
   font-family: 'Playfair Display', serif;
   scroll-behavior: smooth;
  }
  .flags{
    float: right;
    margin-top: -100px;
    margin-right: -100px;
  }
  .logo{
    font-size: 40px;
    margin-left: -300px;
    padding-bottom: 380px;
  }
  h6{
    font-size: 14px;
    margin-top: -60px;
    padding-left: 40px;
  }
  .top-navigation{
    margin-left: -30px;
    margin-top: -350px;
    color: #fff;
  }
  .navigationbar ul{
    list-style: none;
    text-align: center;
    margin-top: -470px;
    margin-right: -400px;
  }
  .navigationbar ul li{
    display: inline-grid;
    padding: 20px;
  }
  .navigationbar ul li a{
    text-decoration: none;
    color: #fff;
  }
  .navigationbar ul {


  }
  #background{
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/elephants.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 400px;
  }
  ::placeholder{
    color: #fff;
  }
  .input-icon img{
    margin-left: -30px;
  }
  hr{
    width: 20px;
    margin-left: -2px;
  }
  .homepage h1{
    font-size: 50px;
    margin-bottom: 10px;
  }
  .homepage{
    text-align: left;
    padding-top: 70px;
    margin-left: -150px;
    color: #fff;
  }
  .btn-1 button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
  }
  #knop-1{
    background-color: #DAAC78;
    border: 2px solid #DAAC78;
    color: #fff;
  }
  #knop-2{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
  }
  .input-content{
    float: right;

  }

  .input-content div{
  margin: 15px;

  }
  .input-date input{
    height: 20px;
    width: 200px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
      border-radius: 3px;
  }
  .output-date input{
    height: 20px;
    width: 200px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
      border-radius: 3px;
  }
  .room-type input{
    height: 20px;
    width: 200px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
      border-radius: 3px;
  }
  .adults input{
    height: 20px;
    width: 200px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 3px;
  }
  .btn-2 button{
    margin-left:4px;
    width: 200px;
    height: 40px;
    background-color: #DAAC78;
    border: 2px solid #DAAC78;
    color: #fff;
    border-radius: 2px;
  }

  .radio-button {
    text-align: center;
    margin-left:490px;
  }
  .circles-row {
    display:flex;
    margin-top: -100px;
    padding-left: 300px;
  }


  .welcome-slide{
    text-align: center;
    margin-top: 100px;
  }
  .welcome-slide h5{
  margin-top: -13px;
  color: #a3a3a3;
  }
  .welcome-menu{
  text-align: justify;
  margin: 0 auto;
  width: 85%;

  }
  .group-1 {
    display: flex;
    justify-content: space-between;
  }
  .group-2{
    display: flex;
    justify-content: space-between;

  }

  .Luxury-Accomodation{
  display: flex;
  }
  .Finest-Cuisine{
    display: flex;
  }
  .Easy-Access{
    display: flex;
  }
  .Shopping-Center{
      display: flex;
  }
  .Spa-And-Relaxation{
    display: flex;
  }
  .Award-Winning{
    display: flex;
  }
  .icons-left img{
    margin-top: 15px;
    margin-left: -80px;
    padding: 20px;
    background: #DAAC78;
    border: 2px solid #DAAC78;

  }
  .ndaxola{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/slide-3.jpeg");
    background-position: center;
    background-size: cover;
    height: 420px;
  }
  .grid-items {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    color: #fff;
    padding-top: 80px;
  }
  .grid-items div {
    background: linear-gradient(rgba(234,235,237,.3),rgba(234,235,237,.3));
    border: 1px solid white;
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 20px;

  }
  .horizon-deep{
   margin-left: 90px;
   text-align: center;
  }
  .resort-info{
    text-align: center;
    padding: 100px;
  }
  .resort-info h5{
    margin-top: -20px;
    color: #a3a3a3;
  }
  .The-resort{
    display: flex;
  justify-content: center;
  margin-top: -100px;
  }
  .The-resort div{
    text-align: center;
    padding: 15px;
    border: 1px solid #a3a3a3;
  }
  .BED{
    background:  #DAAC78;
    color: #fff;
  border: 1px solid #DAAC78;
  }
  .slide-image img{
  width:800px;
  padding:150px;
  }
  .text{
    float: right;
    padding-right: 150px;
    margin-top: -590px;
  }
  .list ul{
    list-style: none;
  }
  .list button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #DAAC78;
    border: 2px solid #DAAC78;
    color: #fff;
  }
  #spot{
    background: transparent;
    color:#000;
  }
  .opinion {
    text-align: right;
    margin-top: -450px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/zebras.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 680px;
    padding: 175px;
    color: #fff;
    height: 100px;
  }
  .guestbook {
    margin-left: 0;
    background: #DAAC78;
    padding: 91px;
    color: #fff;
  }

  #guestbutton {
    width: 200px;
    height: 50px;
  }
  .opinion h6 {
    text-align: center;
    margin-top: 100px;
  }

  .opinion p {
    text-align: center;
  }

  .opinion hr {
    width: 50px;
    margin-left: 440px;
  }
  .guestbook hr {
    margin-left: 125px;
  }
  .popular{
    text-align: center;
  }
  .popular{
    margin-top: 120px;
  }
  .popular h5{
    margin-top: -10px;
  }
  .rooms {
  display: flex;
  justify-content: space-between;
  color: #cdcdcd;
  padding:50px;
  margin:0;
  }
  .room-1{
    border: 2px solid #cdcdcdcd;
    padding: 3px;
    height: 560px;
  }
  .room1-image img{
      width: 500px;
      margin-left: 1px;
  }
  .room-1 button{
    margin-left: 150px;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    background: #DAAC78;
    border: 2px solid #DAAC78;
    color: #fff;

  }
  .room-1 b{
    font-size: 40px;
    color: #000;
  }
  .room-1 h3 {
    background: #DAAC78;
    padding: 15px;
    color: #fff;
    margin-top: -4px;
  }
  .room-1 h3 img{
  padding-left: 300px;
  }
  .room-2{
    border: 2px solid #cdcdcdcd;
    padding: 3px;
    height: 560px;
  }
  .room2-image img{
      width: 500px;
      margin-left:1px;
  }
  .room-2 button{
    margin-left: 150px;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    background: #DAAC78;
    border: 2px solid #DAAC78;
    color: #fff;

  }
  .room-2 b{
    font-size: 40px;
    color: #000;
  }
  .room-2 h3 {
    background: #DAAC78;
    padding: 15px;
    color: #fff;
    margin-top: -4px;
  }
  .room-2 h3 img{
  padding-left: 300px;
  }
  .room-3{
    border: 2px solid #cdcdcdcd;
    padding: 3px;
    height: 560px;
  }
  .room3-image img{
      width: 500px;
      margin-left: 1px;
  }
  .room-3 button{
    margin-left: 150px;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    background: #DAAC78;
    border: 2px solid #DAAC78;
    color: #fff;
  }
  .room-3 b{
    font-size: 40px;
    color: #000;
  }
  .room-3 h3 {
    background: #DAAC78;
    padding: 15px;
    color: #fff;
    margin-top: -4px;
  }
  .room-3 h3 img{
  padding-left: 260px;
  }
  .take-a-tour{
    margin: 100px;
  }
  .tour-slide h2{
    color: #fff;
    margin-top: -90px;
    font-size: 50px;
  }
  .tour-slide p{
    color: #fff;
    margin:90px;
    font-size:35px;
  }
  .tour-slide{
    text-align: center;
    padding: 160px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("../images/playvideo.jpeg");
    background-size: cover;
    background-position: center;
  }


#druk{
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #DAAC78;
  border: 2px solid #DAAC78;
  color: #fff;
}
.upcoming{
  text-align: center;
  margin-top: 70px;
}
.upcoming h6{
  margin-top: 25px;
}
.upcoming-content img{
  width:560px;
  height: 600px;

}
.upcoming-text {
  border: 1px solid #cdcdcdcd;
  width: 500px;
padding: 100px;
}
.social-icons{
  display: flex;
  margin-left: 300px;
  margin-top: -40px;
}
.icons8-1{
  border: 2px solid #cdcdcd;
  padding: 10px;
  border-radius: 30px;
}
.icons8-2{

  border: 2px solid #cdcdcd;
  margin-left: 20px;
  padding: 10px;
  border-radius: 30px;
}
.last-slide {
  display: flex;
  justify-content: center;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 100px;
  background: #3c3d41;
  color: #a3a3a3;
}
.address {
  padding: 80px;
  margin-left: -50px;
}
.phone {
  padding: 20px;
  margin-top: -50px;
  margin-left: 20px;
}
.e-mail {
  padding: 30px;
  margin-left: 10px;
}
.newsletter {
  padding: 80px;
  margin-left: -80px;
}
.footer-content0 {
 margin-top: -50px;
}
.Twitter-feed {
  padding: 80px;
  margin-left: -80px;
}
.Flickr-pics {
  padding: 100px;
  margin-left: -90px;
}
.Flickr-pics img{
  width: 200px;
}
.lets-connect ul {
  list-style: none;
}
.lets-connect img {
  border: 1px solid #666;
  border-radius: 20px;
  padding: 6px;
  background: #666;
}
